<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @registration.fullname %>
</p>

<p>
  <strong>Residential address:</strong>
  <%= @registration.residential_address %>
</p>

<p>
  <strong>Office address:</strong>
  <%= @registration.office_address %>
</p>

<p>
  <strong>Local government:</strong>
  <%= @registration.local_government %>
</p>

<p>
  <strong>State of registration:</strong>
  <%= @registration.state_of_registration %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @registration.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @registration.gender %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @registration.marital_status %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @registration.religion %>
</p>

<p>
  <strong>Nigeria mobile number:</strong>
  <%= @registration.nigeria_mobile_number %>
</p>

<p>
  <strong>Saudi mobile number:</strong>
  <%= @registration.saudi_mobile_number %>
</p>

<p>
  <strong>Educational level:</strong>
  <%= @registration.educational_level %>
</p>

<p>
  <strong>Next of kin:</strong>
  <%= @registration.next_of_kin %>
</p>

<p>
  <strong>Relationship with next of kin:</strong>
  <%= @registration.relationship_with_next_of_kin %>
</p>

<p>
  <strong>Address of next of kin:</strong>
  <%= @registration.address_of_next_of_kin %>
</p>

<p>
  <strong>Name and address of muharram:</strong>
  <%= @registration.name_and_address_of_muharram %>
</p>

<p>
  <strong>Type of pilgrim:</strong>
  <%= @registration.type_of_pilgrim %>
</p>

<p>
  <strong>Pilgrim id number:</strong>
  <%= @registration.pilgrim_id_number %>
</p>

<p>
  <strong>National id number:</strong>
  <%= @registration.national_id_number %>
</p>

<p>
  <strong>Passport details:</strong>
  <%= @registration.passport_details %>
</p>

<p>
  <strong>Passport number:</strong>
  <%= @registration.passport_number %>
</p>

<p>
  <strong>Passport place:</strong>
  <%= @registration.passport_place %>
</p>

<p>
  <strong>Date of issue:</strong>
  <%= @registration.date_of_issue %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @registration.expiry_date %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
